<ul class="nav nav-tabs">
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
       href="#">
        <i class="icon-book"> Admin Menü</i>
        <b class="caret"></b>
      </a>
    <ul class="dropdown-menu">
  <li>
    <a href="/projes">Projeler</a>
  </li>
  <li>
    <a href="/admin/groups">Gruplar</a>
  </li>
  <li>
  <a href="/projes/new">Proje Oluştur</a>
  </li>
  <li>
  <a href="/admin/create_groups">Grup Oluştur</a>
  </li>
</ul>
</li>
</ul>


